html, body{
  width: 99%;
  height: 97%;
}

#panel{
  height: 100%;
  padding: 10px;
  border: 1px solid red;
  overflow: auto;
}

#sub-panel {
  width: 45%;
  height: 90%;
  float: left;
  border: 1px solid blue;
  text-align: center; 
}

#myCanvas {
  /* display: inline-block; */
  border: 1px solid green;
  margin-top: 1%;
}

.slidecontainer {
  /* display: inline-block; */
  width: 75%;
  margin: 0 auto;
}

.slider{
    width: 86%;
}

#endtime{
  width: 40px;
}

#pose{
  border: 1px solid black;
}

#snapshots{
  margin: 0 10px;
  border: 1px solid red;
  text-align: initial;
}

#image-panel{
  height: 32%;
  border: 1px solid rebeccapurple;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}